DB_HOST="postgres_db"
DB_USER="deepak"
DB_PASSWORD="deepak"
DB_PORT="5432"
DB_NAME="movie_reservation_db"

SECRET_KEY="secret"
ACCESS_TOKEN_EXPIRE_MINUTES="1440"

MAIL_USERNAME="your_email_address"
MAIL_PASSWORD="your_email_password"
MAIL_FROM="your_email_address"
MAIL_PORT="587"
MAIL_SERVER="smtp.gmail.com"
SECURITY_PASSWORD_SALT="salt_key"

FRONTEND_URL="client_url"